---
import { defaultLang } from '../i18n/ui';
---

<!doctype html>
<html lang={defaultLang}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`} />
    <title>Redirecting...</title>
  </head>
</html>
