---
import { useTranslations } from '../../utils/i18n';

const { lang } = Astro.props;
const t = useTranslations(lang);
---
<a href={`/${lang}`} class="flex items-center gap-2">
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="32" 
    height="32" 
    viewBox="0 0 24 24" 
    class="fill-none stroke-gray-800 dark:stroke-gray-200"
    stroke-width="2" 
    stroke-linecap="round" 
    stroke-linejoin="round"
  >
    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
  </svg>
  <span 
    class:list={[
      'text-xl font-bold text-gray-800 dark:text-gray-200',
      lang === 'ar' ? 'font-cairo' : 'font-roboto'
    ]}
  >
    {t('site.title')}
  </span>
</a>
