---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import { getLangFromUrl } from '../../../utils/i18n';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: {
      lang: post.data.lang,
      slug: post.slug.split('/').pop(),
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const lang = getLangFromUrl(Astro.url);
---

<Layout title={post.data.title}>
  <main class="container mx-5 lg:mx-12 xl:mx-24 px-4 py-8">
    <article class="prose lg:prose-xl dark:prose-invert">
      <h1>{post.data.title}</h1>
      <time datetime={post.data.pubDate.toISOString()} class="text-gray-500 dark:text-gray-400">
        {post.data.pubDate.toLocaleDateString(lang)}
      </time>
      <Content />
    </article>
  </main>
</Layout>